<a href="https://colab.research.google.com/github/veranika-izrailyan/Machine_Learning/blob/main/Dealing_with_Categorical_Variables.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
df=pd.read_csv('restaurant.csv')
df.head()

   total_bill  tip     city     sex smoker  day    time  size
0       16.99  Yes    Milan  Female    Yes  Sat   Lunch     2
1       10.34   No     Rome    Male     No  Sun  Dinner     3
2       21.01   No  Bergamo    Male     No  Mon  Dinner     3
3       23.68   No   Naples    Male     No  Sun  Dinner     2
4       24.59  Yes    Milan  Female     No  Fri  Dinner     4

In [2]:
from sklearn.preprocessing import OneHotEncoder
ohe = OneHotEncoder()
ohe_df = pd.DataFrame(ohe.fit_transform(df).toarray())

ohe_df.head()

    0    1    2    3    4    5    6   ...   39   40   41   42   43   44   45
0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  ...  0.0  0.0  0.0  1.0  1.0  0.0  0.0
1  0.0  0.0  0.0  1.0  0.0  0.0  0.0  ...  0.0  0.0  1.0  0.0  0.0  1.0  0.0
2  0.0  0.0  0.0  0.0  0.0  0.0  0.0  ...  0.0  0.0  1.0  0.0  0.0  1.0  0.0
3  0.0  0.0  0.0  0.0  0.0  0.0  0.0  ...  0.0  0.0  1.0  0.0  1.0  0.0  0.0
4  0.0  0.0  0.0  0.0  0.0  0.0  0.0  ...  0.0  0.0  1.0  0.0  0.0  0.0  1.0

[5 rows x 46 columns]

In [3]:
ohe=OneHotEncoder()
pd.DataFrame(ohe.fit_transform(df[['smoker']]).toarray()).head()

     0    1
0  0.0  1.0
1  1.0  0.0
2  1.0  0.0
3  1.0  0.0
4  1.0  0.0

In [4]:
ohe.categories_

[array(['No', 'Yes'], dtype=object)]

In [5]:
from sklearn.compose import make_column_transformer

ohe=OneHotEncoder()
ct = make_column_transformer(
    (ohe, ['smoker','sex','day','time']),
    remainder='passthrough'
)

data_new = pd.DataFrame(ct.fit_transform(df))
data_new.head()

  0  1  2  3  4  5  6  7  8  9  10 11 12     13   14       15 16
0  0  1  1  0  0  0  1  0  0  0  0  0  1  16.99  Yes    Milan  2
1  1  0  0  1  0  0  0  1  0  0  0  1  0  10.34   No     Rome  3
2  1  0  0  1  0  1  0  0  0  0  0  1  0  21.01   No  Bergamo  3
3  1  0  0  1  0  0  0  1  0  0  0  1  0  23.68   No   Naples  2
4  1  0  1  0  1  0  0  0  0  0  0  1  0  24.59  Yes    Milan  4

In [6]:
# toy_dataset

data_toy = pd.DataFrame(
    {
        'constructor':['Toyota','Audi','Renault']
    }
)

ohe_toy = OneHotEncoder()
pd.DataFrame(ohe_toy.fit_transform(data_toy).toarray())

     0    1    2
0  0.0  0.0  1.0
1  1.0  0.0  0.0
2  0.0  1.0  0.0

In [10]:
new_data = pd.DataFrame(
    {'constructor': ['Toyota', 'Jeep']}
)

In [14]:
ohe_toy = OneHotEncoder(handle_unknown='ignore', sparse= False)
pd.DataFrame(ohe_toy.fit_transform(data_toy))

     0    1    2
0  0.0  0.0  1.0
1  1.0  0.0  0.0
2  0.0  1.0  0.0

In [16]:
pd.DataFrame(ohe_toy.transform(new_data))

     0    1    2
0  0.0  0.0  1.0
1  0.0  0.0  0.0