<a href="https://colab.research.google.com/github/veranika-izrailyan/Machine_Learning/blob/main/Matplotlib_Plot_Types.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import matplotlib.pyplot as plt

**Bar Charts**

In [4]:
df=pd.read_csv('fifa20_players_stats.csv', index_col=0, usecols=[x for x in range(74)])
df.head()

                           Name    Country  Position  Age  ...  PAS  DRI DEF  PHY
0                  Lionel Messi  Argentina  RW,CF,ST   32  ...   92   96  39   66
1  C. Ronaldo dos Santos Aveiro   Portugal     ST,LW   34  ...   82   89  35   78
2    Neymar da Silva Santos Jr.     Brazil    LW,CAM   27  ...   87   95  32   58
3                     Jan Oblak   Slovenia        GK   26  ...   78   89  52   90
4               Kevin De Bruyne    Belgium    CAM,CM   28  ...   92   86  61   78

[5 rows x 73 columns]

In [5]:
df.shape

(18547, 73)

In [8]:
count_countries=df[['Country', 'Name']].groupby('Country').count().rename(columns={'Name':'Number of Players'})

In [10]:
count_countries_sorted=count_countries.sort_values(by='Number of Players', ascending=False)

In [12]:
top_10=count_countries_sorted.head(10)